/* Libre Franklin font imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Variables and default design style definition */
:root {
    /* Primary palette */
    --primary-500: #353A8D;
    --primary-accent: #40DD9C;
    --primary-neutral: #36385A;

    /* Secondary palette */
    --secondary-p100: #E2E3E9;
    --secondary-p0: #9C9DB2;
    --secondary-p1: #60627D;
    --secondary-p2: #4B4D6C;
    --secondary-p3: #36385A;
    --secondary-p4: #222549;
    --secondary-teal100: #D8EFF0;
    --secondary-teal900: #45888E;
    --secondary-p900: #10246A;

    /* Semantic colors */
    --success-100: #EBF4E7;
    --success-500: #6AA64F;
    --success-900: #3C7425;
    --warning-100: #FBF4E0;
    --warning-500: #BD8E00;
    --warning-900: #8F6B00;
    --error-100: #F9E2E2;
    --error-500: #DE6664;
    --error-900: #B33A38;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;    
}

body {
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.5rem;
}

.font-14 {
    font-size: 0.875rem;
    line-height: 1.375rem;
}

h1, h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: 2.875rem; 
    line-height: 4.31rem;
}

h2 {
    font-size: 2.31rem; 
    line-height: 3.37rem;
    font-weight: 700;
}

h3 {
    font-size: 1.75rem; 
    line-height: 2.75rem;
}

h4 {
    font-size: 1.31rem; 
    line-height: 2rem;
}

.font-btn-lg {
    font-weight: 700;
    font-size: 1rem;    
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
    text-align: center;
}

.font-btn-sm {
    font-weight: 700;
    font-size: 0.875rem;    
    line-height: 1rem;
    letter-spacing: 0.0625rem;
}

.font-caption {
    font-weight: 500;
    font-size: 0.75rem;    
    line-height: 1rem;
    text-align: center;
}

.shadow-f1 {
    box-shadow: 0px 2px 4px rgba(8, 68, 73, 0.24), 0px 4px 16px rgba(8, 68, 73, 0.35);
    border-radius: 8px;
}

.shadow-f2 {
    box-shadow: 0px 8px 24px rgba(8, 68, 73, 0.35);
    border-radius: 8px;
}
/* MOBILE FIRST defined style */

/* Navbar style - START */
.nav {
    position: sticky;
    top: 0;       
}

.nav-bar {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    max-width: 1040px;
    min-height: 72px;   
    justify-content: flex-end;
    background-color: #fff;    
    align-items: center;
    margin: auto;
    }

.nav-btns {
    flex-basis: 100%;
    display: none;
    }

.nav-btns ul {    
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 1.5rem;  
   }

.emphasis-btn-tertiary {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
}

.emphasis-btn-tertiary:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), #D8EFF0;
    border-radius: 8px;
    border-radius: 8px;
} 

.emphasis-btn-tertiary:active {
    background: #FFFFFF;
    box-shadow: inset 0px -2px 0px #353A8C;
    border-radius: 0;
    color: var(--secondary-p900);
}

.hamburger-icon {
    cursor: pointer;
    margin: 0 1.5rem 0 1rem;
    display: block;    
}

.shop-btn {
    display: flex;
    background: linear-gradient(180deg, #353A8C 0%, #2A5AA2 100%);
    border-radius: 51px;
    color: #fff;       
    max-height: 48px;
    padding: 0.75rem;
    align-items: center;
    line-height: 1rem;
 }

.shop-btn img {
    cursor: pointer;
}

.shop-btn span {
    margin-right: 10px;
    margin-bottom: 0;
}

.logo {
    max-height: 32px;
    width: auto;
    position: absolute;
    top: 1.25rem;
    left: 1rem;
}
/* Navbar style - END */

/* Breadcrumbs bar - START */
.breadcrumbs {
    display: flex;
    align-items: center;
    margin: auto;
    column-gap: 0.625rem;
    padding: 0.25rem 0.5rem;
}

.breadcrumbs .item {   
    line-height: 0;
}

.breadcrumbs .item:first-child {
    padding: 0.5rem;
}

.breadcrumbs .item img {
    height: 1.5rem;
    width: 1.25rem;
}

.breadcrumbs span {
    color: var(--secondary-p4);
}
/* Breadcrumbs bar - END */

/* Products container - START */
.products {
    max-width: 1040px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 21px;
    padding: 2rem 1rem 0 1rem;
}

.products .prod-card {
    display: flex;
    flex-direction: column;
    max-width: 343px;
    border: 1px solid #E1E1EA;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
}

.products .prod-card:hover {
    box-shadow: 0px 2px 4px rgba(8, 68, 73, 0.24), 0px 4px 16px rgba(8, 68, 73, 0.35);
    border-radius: 8px;
}

.prod-card:hover .prod-img img {
    filter: opacity(0);
}

.prod-card:hover .prod-img {
    background-image: url("/images/products/product-card/rectangle-dog.png");
    background-size: cover;
}

.prod-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.prod-card .action {
    display: none;
}

.prod-card .details {
    padding: 0 0.5rem 0 1rem;    
}

.prod-card .details span {
    font-weight: 600;
    color: var(--primary-500);
}

.prod-card .details p {
    color: var(--secondary-p1);
}
/* Products container - END */

/* About products - START */
.about-products {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    margin: auto;
    height: 42%;
    row-gap: 1.5rem;
    margin-bottom: 3.875rem;
    margin-top: 3rem;
}

.about-products > img {
    min-width: 376px;
    max-height: 159px;
    object-fit: cover;
    margin: auto;
}

.about-products .description {
    padding: 0 1rem;
    color: var(--secondary-p3);
}

.about-products .description h4::before {
    content: '';
    display: inline-block;
    background-image: url("/images/icons/about/group-22.svg");
    background-repeat: no-repeat;
    object-fit: cover;
    height: 1rem;   
    width: 2rem;
    padding-right: 0.75rem;
}

/* About products - END */

/* Footer - START */
footer {
    box-shadow: 0px 1px 0px 0px #00000040 inset;
}

.footer-main {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin: 0 11.5px;       
}

.ul-links {
    padding: 1rem 1rem 0 1rem;
}

.ul-links span {
    font-weight: 600;
    color: var(--secondary-p900);
}

.ul-links ul {
    list-style: none;
    color: var(--secondary-p1);
}

.ul-links ul li a, .ul-social ul li a {
    text-decoration: none;
}

.footer-social {
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
    padding: 0 0 3.5rem;
    row-gap: 2rem;
}

.footer-social span {
    color: var(--secondary-p1);
}

.ul-social ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-top: 1rem;
}

.ul-social ul li img {
    width: 2.5rem;
    height: auto;
}

footer .footer-copy {
    background-color: #F8F8F9;
    text-transform: uppercase;
    color: var(--secondary-p1);
    text-align: center;
    height: auto;
}

footer .footer-copy span {
    padding: 0.5rem 0;
    display: block;
    color: var(--secondary-p1);
    font-weight: 500;
    font-size: 0.56rem;
    line-height: 0.68rem;
}
/* Footer - END */

/* BIGGER SCREENS defined style */
@media only screen and (min-width: 768px) {
    /* Navbar style - START */   
        .nav {
            border-bottom: solid 1px rgb(156, 157, 178, 0.3);
        }
        
        .nav-bar {
            padding: 0;
            flex-direction: row-reverse;
            justify-content: flex-start;            
        }

        .logo {
            max-height: 40px;
            top: 1rem;                        
        }     

        .hamburger-icon {
            display: none;
        }

        .nav-btns {
            flex-basis: auto;
            display: block;
        }

        .nav-btns ul li {
            display: inline-block;
        }
    /* Navbar style - END */

    /* Breadcrumbs bar - START */
        .breadcrumbs {
            max-width: 1040px;
            padding: 0.75rem 0.5rem;
            column-gap: 0;
        }

        .breadcrumbs .item {
            padding: 0.5rem;
            cursor: pointer;
        }

        .breadcrumbs .item:first-child {
            margin-right: 0.625rem;
        }

        .breadcrumbs .item:hover {
            background: #F3F4F8;
            border-radius: 4px;
        }

        .breadcrumbs .item:focus {
            background: #F3F4F8;
            border: 3px solid #70A6F7;
            border-radius: 4px;
        }

        .breadcrumbs .item:active {
            background: #CFD3E1;
            border-radius: 4px;
        }

        .breadcrumbs .item img {
            height: 1rem;
            width: 0.9rem;        
        }        

        .breadcrumbs .item span {
            font-weight: 500;
            font-size: 0.75rem;    
            line-height: 1rem;
            text-align: center;
        }
    /* Breadcrumbs bar - END */

    /* Products container - START */
        .products {
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5rem 0.5rem 0 0.5rem;
        }

        .products .prod-card {
            max-width: 331px;            
            padding-bottom: 0.5rem;
            align-self: stretch;
            justify-content: space-between;
        }

        .products .prod-card:hover {
            box-shadow: 0px 8px 24px rgba(8, 68, 73, 0.35);
            border-radius: 8px; 
        }
        
        .prod-card .action {
            position: relative;
            width: 100%;
            min-height: 46px;
            display: block;
        }

        .prod-card .action i {            
            padding: 0.5rem 1rem;
            bottom: 0.5rem;
            right: 2rem;
            background-color: var(--primary-accent);
            border-radius: 2rem;
            color: var(--primary-500);
            display: none;
        }

        .prod-card:hover .action i {
            cursor: pointer;
            display: block;
            animation-name: fromLeft;
            animation-duration: 0.2s;
            animation-timing-function: ease-in;
            position: absolute;
        }
    /* Products container - START */


    /* About products - START */
        .about-products {
            flex-direction: row-reverse;
            margin: 106px auto 112px auto;
            column-gap: 19px;            
        }

        .about-products .description {
            padding: 0 1.5rem 0 0;
        }

        .about-products > img {           
            min-width: auto;
            max-height: 327px;
        }

        .about-products .de

    /* About products - END */

    /* Footer - START */
        footer {
            background-color: #F8F8F9;
            box-shadow: none;
        }
        .footer-main  {
            max-width: 1140px;
            flex-direction: row;
            justify-content: space-between;
            padding: 1.5rem 3.5rem;
        }

        .footer-links {
            margin: 0;
            padding: 0;
            column-gap: 4.5rem;
        }

        .ul-links {
            padding: 0;
        }

        .footer-social {
            padding: 0;
            margin: 0;
            row-gap: 1.5rem;
        }

        .ul-social ul {
            padding-top: 0.75rem;
            justify-content: flex-start;
            column-gap: 3.5rem;
        }

        .ul-social ul li img {
            width: auto;
        }
        /* Footer - END */


        @keyframes fromLeft {
            from {                
                transform: translateX(-25%);
            }

            to {
                transform: translateX(0%);
            }
        }
}